$mainColor: #d69e65;
$secondaryColor: #f8f0d4;
$offWhite: #f3f1ef;
$mainGradient: linear-gradient(90deg, #754c28 0.01%, #3b2314 134.98%);
$brown: #754c28;

$gradientColor: #ff9979;
$mainBackColor: #ed47157e;
$backColor: #2719154f;
$newTextColor: #ed4815;
$buttonColor: #ed4815;
$hoverColor: #ed4815;

$transition: 0.3s;
$slowTransition: 0.9s;
$containerPadding: 17vw;
$zIndex_1: 9;
$zIndex_2: 99;
$zIndex_3: 999;
$zIndex_4: 9999;
$transition: all 0.3s;
$primaryColor: #fbba3c;
